<link rel="stylesheet" type="text/css" href="/ui/modModules/cardGamesPrompt/cardGamesPrompt.css" />

<div class="cgp-overlay-root" ng-if="visible">
  <div class="cgp-backdrop">
    <div class="cgp-modal">
      <div class="cgp-title">Lets go Gambling!</div>
      <div class="cgp-actions">
        <button type="button" class="cgp-btn cgp-btn-secondary" ng-click="cancel()">Cancel</button>
        <button type="button" class="cgp-btn cgp-btn-primary" ng-click="gamble()">Gamble</button>
      </div>
    </div>
  </div>
</div>
